// mobile first
$media-sm: "(min-width: 361px)";
$media-md: "(min-width: 769px)";
$media-lg: "(min-width: 1025px)";
$media-xl: "(min-width: 1281px)";

// strict range
$media-ssm: "(min-width: 360px) && (max-width: 768px)";
$media-smd: "(min-width: 769px) && (max-width: 1024px)";
$media-slg: "(min-width: 1025px) && (max-width: 1280px)";

// mobile first reverse: pc first
$media-rxsm: "(max-width: 360px)";
$media-rsm: "(max-width: 768px)";
$media-rmd: "(max-width: 1024px)";
$media-rlg: "(max-width: 1280px)";